body {
    background-color: green;
    position: relative;
    height: 650px;
}

#first {
    position: absolute;
    border: 20px solid yellow;
    margin: 20px;
    width: 95%;
    height: 95%;
}

#second {
    position: absolute;
    border: 20px solid yellow;
    margin: 50px;
    width: 90%;
    height: 80%;
    color: white;
}

#second p {
    text-align: center;
    margin-top: 18%;
    font-size: 40px;
}